<div class="feature-categories-section">
  <div class="container">
    <h2 class="page-heading">Featured Categories
      <!-- <p>Preorder now to receive exclusive deals &amp; gifts</p> -->
      <span class="head-line"></span>
    </h2>
    <div class="row maxwidth90">
      <div class="col-md-3 col-sm-6 col-12 hover-change">
        <a href="/full-over-full-bunk-beds/" title="Bunk Beds">
          <div class="img-category">
            <img src="https://cdn10.bigcommerce.com/s-rtqvb44/images/stencil/original/image-manager/bunk-bed-thum.png" alt="Bunk Beds" width="367" height="274" />
          </div>
          <h4>Bunk Beds</h4>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-12 hover-change">
        <a href="/adult-bunk-beds/" title="XL & Queen Bunk Beds">
          <div class="img-category">
            <img src="https://cdn10.bigcommerce.com/s-rtqvb44/images/stencil/original/image-manager/xl-queen-bunk-beds-thum.png" alt="XL & Queen Bunk Beds" width="367" height="274" />
          </div>
          <h4>XL & Queen Bunk Beds</h4>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-12 hover-change">
        <a href="/bunk-beds-with-stairs/" title="Bunk Beds with Stairs">
          <div class="img-category">
            <img src="https://cdn10.bigcommerce.com/s-rtqvb44/images/stencil/original/image-manager/cat-demo3.jpeg" alt="Bunk Bed with Stairs" width="367" height="274" />
          </div>
          <h4>Bunk Beds with Stairs</h4>
        </a>
      </div>
      <div class="col-md-3 col-sm-6 col-12 hover-change">
        <a href="/loft-beds/" title="Loft Beds">
          <div class="img-category">
            <img src="https://cdn10.bigcommerce.com/s-rtqvb44/images/stencil/original/image-manager/cat-demo4.jpeg" alt="Loft Beds" width="367" height="274" />
          </div>
          <h4>Loft Beds</h4>
        </a>
      </div>
    </div>
  </div>
</div>
