{{#if theme_settings.home-services}} {{{region name="home_above_service"}}}
<div class="service-section">
  <div class="container">
    <div class="row deliveryinfo row-space">
      <div class="col-md-3 col-sm-6 col-12 service-cont">
        <div class="list-unstyled">
          <ul class="service">
            <li class="text-left">
              <div class="caption-box">
                <img src="https://cdn10.bigcommerce.com/s-rtqvb44/images/stencil/original/image-manager/personalized-service-new.png" alt="services" width="36">
                <h4>{{theme_settings.service_heading1}}</h4>
              </div>
              <p>Ask us anything, there isn't a problem we can't solve. <a style="color:#fff;" href="/contact-us/">Contact Us</a></p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12 sbr service-cont">
        <div class="list-unstyled">
          <ul class="service">
            <li class="text-left">
              <div class="caption-box">
                <img src="https://cdn10.bigcommerce.com/s-rtqvb44/images/stencil/original/image-manager/free-shipping-new.png" alt="shipping" width="36">
                <h4>{{theme_settings.service_heading2}}</h4>
              </div>
              <p>{{theme_settings.service_text2}}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12 sbr service-cont">
        <div class="list-unstyled">
          <ul class="service">
            <li class="text-left">
              <div class="caption-box">
                <img src="https://cdn10.bigcommerce.com/s-rtqvb44/images/stencil/original/image-manager/secure-new.png" alt="secure" width="36">
                <h4>{{theme_settings.service_heading4}}</h4>
              </div>
              <p>{{theme_settings.service_text4}}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12 sbr service-cont">
        <div class="list-unstyled">
          <ul class="service">
            <li class="text-left">
              <div class="caption-box">
                <img src="https://cdn10.bigcommerce.com/s-rtqvb44/images/stencil/original/image-manager/customer-service-new.png" alt="support" width="36">
                <h4>{{theme_settings.service_heading3}}</h4>
              </div>
              <p>{{theme_settings.service_text3}}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
