{{#if theme_settings.home-brand-logo}}
{{{region name="home_above_brandlogo"}}}
<div class="container section-space">
	<div class="brand-section">
		<div id="brand" class="owl-carousel">
			<!-- first brand-->
			{{#if theme_settings.brandimagefirst}}
			<a href="{{theme_settings.brandlinkfirst}}" aria-label="brand"><img class="img-fluid lazyload mx-auto d-block" data-sizes="auto" width="225px" height="150px" data-src="/product_images/uploaded_images/{{theme_settings.brandimagefirst}}"  alt="{{title}}"  /></a>
			{{/if}}
			<!-- second brand -->
			{{#if theme_settings.brandimagesecond}}
			<a href="{{theme_settings.brandlinksecond}}" aria-label="brand"><img class="img-fluid lazyload mx-auto d-block" data-sizes="auto" width="225px" height="150px" data-src="/product_images/uploaded_images/{{theme_settings.brandimagesecond}}"  alt="{{title}}"  /></a>
			{{/if}}
			<!-- thired brand -->
			{{#if theme_settings.brandimagethired}}
			<a href="{{theme_settings.brandlinkthired}}" aria-label="brand"><img class="img-fluid lazyload mx-auto d-block" data-sizes="auto" width="225px" height="150px" data-src="/product_images/uploaded_images/{{theme_settings.brandimagethired}}"  alt="{{title}}"  /></a>
			{{/if}}
			<!-- fourth brand -->
			{{#if theme_settings.brandimagefourth}}
			<a href="{{theme_settings.brandlinkfourth}}" aria-label="brand"><img class="img-fluid lazyload mx-auto d-block" data-sizes="auto" width="225px" height="150px" data-src="/product_images/uploaded_images/{{theme_settings.brandimagefourth}}"  alt="{{title}}"  /></a>
			{{/if}}
			<!-- fifth brand -->
			{{#if theme_settings.brandimagefifth}}
			<a href="{{theme_settings.brandlinkfifth}}" aria-label="brand"><img class="img-fluid lazyload mx-auto d-block" data-sizes="auto" width="225px" height="150px" data-src="/product_images/uploaded_images/{{theme_settings.brandimagefifth}}"  alt="{{title}}"  /></a>

			{{/if}}
			<!-- sixth brand -->
			{{#if theme_settings.brandimagesixth}}
			<a href="{{theme_settings.brandlinksixth}}" aria-label="brand"><img class="img-fluid lazyload mx-auto d-block" data-sizes="auto" width="225px" height="150px" data-src="/product_images/uploaded_images/{{theme_settings.brandimagesixth}}"  alt="{{title}}"  /></a>
			{{/if}}
			<!-- seventh brand -->
			{{#if theme_settings.brandimagesevanth}}
			<a href="{{theme_settings.brandlinksevanth}}" aria-label="brand"><img class="img-fluid lazyload mx-auto d-block" data-sizes="auto" width="225px" height="150px" data-src="/product_images/uploaded_images/{{theme_settings.brandimagesevanth}}"  alt="{{title}}"  /></a>
			{{/if}}
			<!-- eighth brand -->
			{{#if theme_settings.brandimageeighth}}
			<a href="{{theme_settings.brandlinkeighth}}" aria-label="brand"><img class="img-fluid lazyload mx-auto d-block" data-sizes="auto" width="225px" height="150px" data-src="/product_images/uploaded_images/{{theme_settings.brandimageeighth}}"  alt="{{title}}"  /></a>
			{{/if}}
			<!-- nineth brand -->
			{{#if theme_settings.brandimageninth}}
			<a href="{{theme_settings.brandlinkninth}}" aria-label="brand"><img class="img-fluid lazyload mx-auto d-block" data-sizes="auto" width="225px" height="150px" data-src="/product_images/uploaded_images/{{theme_settings.brandimageninth}}"  alt="{{title}}"  /></a>
			{{/if}}
			<!-- tenth brand -->
			{{#if theme_settings.brandimagetenth}}
			<a href="{{theme_settings.brandlinktenth}}" aria-label="brand"><img class="img-fluid lazyload mx-auto d-block" data-sizes="auto" width="225px" height="150px" data-src="/product_images/uploaded_images/{{theme_settings.brandimagetenth}}"  alt="{{title}}"  /></a>
			{{/if}}
			<!-- eleven brand -->
			{{#if theme_settings.brandimageeleventh}}
			<a href="{{theme_settings.brandlinkeleventh}}" aria-label="brand"><img class="img-fluid lazyload mx-auto d-block" data-sizes="auto" width="225px" height="150px" data-src="/product_images/uploaded_images/{{theme_settings.brandimageeleventh}}"  alt="{{title}}"  /></a>
			{{/if}}
		</div>
	</div>
</div>
{{/if}}
