<nav class="navPages">
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        <li class="navPages-item custom-header-page">
            <a class="navPages-action has-subMenu{{#if page.id "==" 26}} activePage{{/if}}" href="/bunk-beds/">
                Bunk Beds
                <i class="icon navPages-action-moreIcon main-moreicon" data-collapsible="navPages-xxx" aria-hidden="true" aria-label="" aria-controls="navPages-xxx" aria-expanded="false">
                    <svg><use xlink:href="#icon-chevron-down"></use></svg>
                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-xxx" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPages-item navPages-item-page nav-has-subMenu">
                        <a class="navPage-subMenu-action navPages-action has-subMenu{{#if category.id "==" 75}} activePage{{/if}}" href="/twin-bunk-beds/">
                            Twin Bunk Beds
                            <i class="icon navPages-action-moreIcon main-moreicon" data-collapsible="navPages-21" aria-hidden="true" aria-label="" aria-controls="navPages-21" aria-expanded="false">
                                <svg><use xlink:href="#icon-chevron-down"></use></svg>
                            </i>
                        </a>
                        <div class="navPage-subMenu" id="navPages-21" aria-hidden="true" tabindex="-1">
                            <ul class="navPage-subMenu-list">
                                <li class="navPages-item navPages-item-page">
                                    <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 30}} activePage{{/if}}" href="/twin-wood-bunk-beds/" aria-label="Twin Wood Bunk Beds">
                                        Twin Wood Bunk Beds
                                    </a>
                                </li>
                                <li class="navPages-item navPages-item-page">
                                    <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 29}} activePage{{/if}}" href="/twin-metal-bunk-beds/" aria-label="Twin Metal Bunk Beds">
                                        Twin Metal Bunk Beds
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 19}} activePage{{/if}}" href="/twin-over-full-bunk-beds/" aria-label="Twin Over Full Bunk Beds">
                            Twin Over Full Bunk Beds
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 20}} activePage{{/if}}" href="/full-over-full-bunk-beds/" aria-label="Full Over Full Bunk Beds">
                            Full Over Full Bunk Beds
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page nav-has-subMenu">
                        <a class="navPage-subMenu-action navPages-action has-subMenu{{#if category.id "==" 63}} activePage{{/if}}" href="/extra-long-bunk-beds/" aria-label="XL & Queen Bunk Beds">
                            XL & Queen Bunk Beds
                            <i class="icon navPages-action-moreIcon main-moreicon" data-collapsible="navPages-123" aria-hidden="true" aria-label="" aria-controls="navPages-123" aria-expanded="false">
                                <svg><use xlink:href="#icon-chevron-down"></use></svg>
                            </i>
                        </a>
                        <div class="navPage-subMenu" id="navPages-123" aria-hidden="true" tabindex="-1">
                            <ul class="navPage-subMenu-list">
                                <li class="navPages-item navPages-item-page">
                                    <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 71}} activePage{{/if}}" href="/twin-xl-bunk-beds/" aria-label="Twin XL Bunk Beds">
                                        Twin XL Bunk Beds
                                    </a>
                                </li>
                                <li class="navPages-item navPages-item-page">
                                    <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 72}} activePage{{/if}}" href="/full-xl-bunk-beds/" aria-label="Full XL Bunk Beds">
                                        Full XL Bunk Beds
                                    </a>
                                </li>
                                <li class="navPages-item navPages-item-page">
                                    <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 67}} activePage{{/if}}" href="/twin-xl-over-queen-bunk-beds/" aria-label="Twin XL over Queen Bunk Beds">
                                        Twin XL over Queen Bunk Beds
                                    </a>
                                </li>
                                <li class="navPages-item navPages-item-page">
                                    <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 68}} activePage{{/if}}" href="/full-xl-over-queen-bunk-beds/" aria-label="Full XL over Queen Bunk Beds">
                                        Full XL over Queen Bunk Beds
                                    </a>
                                </li>
                                <li class="navPages-item navPages-item-page">
                                    <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 66}} activePage{{/if}}" href="/queen-bunk-beds/" aria-label="Queen Bunk Beds">
                                        Queen Bunk Beds
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 22}} activePage{{/if}}" href="/futon-bunk-beds/" aria-label="Futon Bunk Beds">
                            Futon Bunk Beds
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 64}} activePage{{/if}}" href="/triple-bunk-beds/" aria-label="Triple Bunk Beds">
                            Triple Bunk Beds
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 79}} activePage{{/if}}" href="/log-bunk-beds/" aria-label="Log Bunk Beds">
                            Log Bunk Beds
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        
        <!--<li class="navPages-item custom-header-page">-->
        <!--    <a class="navPages-action has-subMenu {{#if category.id "==" 69}} activePage{{/if}}" href="/adult-bunk-beds/">-->
        <!--        Adult Bunk Beds-->
        <!--        <i class="icon navPages-action-moreIcon main-moreicon" data-collapsible="navPages-xxx" aria-hidden="true" aria-label="" aria-controls="navPages-xxx" aria-expanded="false">-->
        <!--            <svg><use xlink:href="#icon-chevron-down"></use></svg>-->
        <!--        </i>-->
        <!--    </a>-->
        <!--    <div class="navPage-subMenu" id="navPages-31" aria-hidden="true" tabindex="-1">-->
        <!--        <ul class="navPage-subMenu-list">-->
        <!--            <li class="navPages-item navPages-item-page">-->
        <!--                <a class="navPage-subMenu-action navPages-action" href="/bunk-beds-for-adults/" aria-label="Bunk Beds">-->
        <!--                    Bunk Beds-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="navPages-item navPages-item-page">-->
        <!--                <a class="navPage-subMenu-action navPages-action" href="/full-bunk-beds-for-adults/" aria-label="Full Bunk Beds">-->
        <!--                    Full Bunk Beds-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="navPages-item navPages-item-page">-->
        <!--                <a class="navPage-subMenu-action navPages-action" href="/full-xl-bunk-beds-for-adults/" aria-label="Full XL Bunk Beds">-->
        <!--                    Full XL Bunk Beds-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="navPages-item navPages-item-page">-->
        <!--                <a class="navPage-subMenu-action navPages-action" href="/full-xl-over-queen-bunk-beds-for-adults/" aria-label="Full XL over Queen Bunk Beds">-->
        <!--                    Full XL over Queen Bunk Beds-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="navPages-item navPages-item-page">-->
        <!--                <a class="navPage-subMenu-action navPages-action" href="/queen-bunk-beds-for-adults/" aria-label="Queen Bunk Beds">-->
        <!--                    Queen Bunk Beds-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="navPages-item navPages-item-page">-->
        <!--                <a class="navPage-subMenu-action navPages-action" href="/twin-bunk-beds-for-adults/" aria-label="Twin Bunk Beds">-->
        <!--                    Twin Bunk Beds-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="navPages-item navPages-item-page">-->
        <!--                <a class="navPage-subMenu-action navPages-action" href="/twin-over-full-bunk-beds-for-adults/" aria-label="Twin over Full Bunk Beds">-->
        <!--                    Twin over Full Bunk Beds-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="navPages-item navPages-item-page">-->
        <!--                <a class="navPage-subMenu-action navPages-action" href="/twin-xl-bunk-beds-for-adults/" aria-label="Twin XL Bunk Beds">-->
        <!--                    Twin XL Bunk Beds-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="navPages-item navPages-item-page">-->
        <!--                <a class="navPage-subMenu-action navPages-action" href="/twin-xl-over-full-xl-bunk-beds/" aria-label="Twin XL over Full XL Bunk Beds">-->
        <!--                    Twin XL over Full XL Bunk Beds-->
        <!--                </a>-->
        <!--            </li>-->
        <!--            <li class="navPages-item navPages-item-page">-->
        <!--                <a class="navPage-subMenu-action navPages-action" href="/twin-xl-over-queen-bunk-beds-for-adults/" aria-label="Twin XL over Queen Bunk Beds">-->
        <!--                    Twin XL over Queen Bunk Beds-->
        <!--                </a>-->
        <!--            </li>-->
        <!--        </ul>-->
        <!--    </div>-->
        <!--</li>-->
        
        <li class="navPages-item custom-header-page">
            <a class="navPages-action has-subMenu {{#if category.id "==" 34}} activePage{{/if}}" href="/bunk-beds-with-stairs/">
                Bunk Beds with Stairs
                <i class="icon navPages-action-moreIcon main-moreicon" data-collapsible="navPages-xxx" aria-hidden="true" aria-label="" aria-controls="navPages-xxx" aria-expanded="false">
                    <svg><use xlink:href="#icon-chevron-down"></use></svg>
                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-31" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action" href="/full-bunk-beds-with-stairs/" aria-label="Full Bunk Beds">
                            Full Bunk Beds
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action" href="/full-xl-bunk-beds-with-stairs/" aria-label="Full XL Bunk Beds">
                            Full XL Bunk Beds
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action" href="/full-xl-over-queen-bunk-beds-with-stairs/" aria-label="Full XL over Queen Bunk Beds">
                            Full XL over Queen Bunk Beds
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action" href="/queen-bunk-beds-with-stairs/" aria-label="Queen Bunk Beds">
                            Queen Bunk Beds
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action" href="/twin-bunk-beds-with-stairs/" aria-label="Twin Bunk Beds">
                            Twin Bunk Beds
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action" href="/twin-over-full-bunk-beds-with-stairs/" aria-label="Twin over Full Bunk Beds">
                            Twin over Full Bunk Beds
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action" href="/twin-xl-bunk-beds-with-stairs/" aria-label="Twin XL Bunk Beds">
                            Twin XL Bunk Beds
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action" href="/twin-xl-over-full-xl-bunk-beds-with-stairs/" aria-label="Twin XL over Full XL Bunk Beds">
                            Twin XL over Full XL Bunk Beds
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action" href="/twin-xl-over-queen-bunk-beds-with-stairs/" aria-label="Twin XL over Queen Bunk Beds">
                            Twin XL over Queen Bunk Beds
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        
        <li class="navPages-item custom-header-page">
            <a class="navPages-action has-subMenu{{#if category.id "==" 76}} activePage{{/if}}" href="/loft-beds/">
                Loft Beds
                <i class="icon navPages-action-moreIcon main-moreicon" data-collapsible="navPages-31" aria-hidden="true" aria-label="" aria-controls="navPages-31" aria-expanded="false">
                    <svg><use xlink:href="#icon-chevron-down"></use></svg>
                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-31" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 80}} activePage{{/if}}" href="/loft-beds-with-desk/" aria-label="Loft Beds with Desk">
                            Loft Beds with Desk
                        </a>
                    </li>

                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 81}} activePage{{/if}}" href="/loft-beds-for-adults/" aria-label="Loft Beds for Adults">
                            Loft Beds for Adults
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 82}} activePage{{/if}}" href="/loft-beds-with-storage/" aria-label="Loft Beds with Storage">
                            Loft Beds with Storage
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        
        <li class="navPages-item custom-header-page">
            <a class="navPages-action has-subMenu{{#if category.id "==" 52}} activePage{{/if}}" href="/matching-accessories/">
                Furniture
                <i class="icon navPages-action-moreIcon main-moreicon" data-collapsible="navPages-52" aria-hidden="true" aria-label="" aria-controls="navPages-52" aria-expanded="false">
                    <svg><use xlink:href="#icon-chevron-down"></use></svg>
                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-52" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 52}} activePage{{/if}}" href="/matching-accessories/" aria-label="Furniture">
                            Furniture
                        </a>
                    </li>
                    <li class="navPages-item navPages-item-page">
                        <a class="navPage-subMenu-action navPages-action{{#if category.id "==" 18}} activePage{{/if}}" href="/beds-captains-beds/" aria-label="Captain's Beds">
                            Captain's Beds
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        
        <li class="navPages-item custom-header-page">
            <a class="navPages-action{{#if category.id "==" 65}} activePage{{/if}}" href="/mattresses/">
                Mattresses
            </a>
        </li>
    </ul>
</nav>
