.banners {
  display: none;
  &.banners-top {
    display: none;
    background-color: #5c8279;
    padding: 4px 0 6px;
    border-bottom: 1px solid #ccc;
    h1,h2,p {
      display: none;
    }
    h3,h4 {
      margin: 0;
      color: #fff;
      display: inline-block;
      span {
        font-size: 14px !important;
        color: #fff !important;
      }
    }
  }
}
