//slick default

.hide {
    &-arrow {
        .slick {
            &-arrow {
                display: none !important;
            }
        }
    }

    &-dots {
        .slick {
            &-dots {
                display: none !important;
            }
        }
    }
}

.slick-dots {
    li {
        &:only-child {
            display: none;
        }
    }
}

.testimonial-slider {
    padding-bottom: 1rem;

    @include media-breakpoint-up(xxl) {
        padding-bottom: 2rem;
    }

    &__item {
        @include media-breakpoint-up(md) {
            flex: 0 0 auto;
            height: inherit;
        }

        .blockquote {
            width: 100%;

            @include media-breakpoint-up(md) {
                height: 100%;
            }
        }
    }

    .slick {

        &-list {
            @include media-breakpoint-up(md) {
                width: 100%;
            }
        }

        &-track {
            @include media-breakpoint-up(md) {
                display: flex;
                width: 100% !important;
            }

            @include media-breakpoint-up(xl) {
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
        }

        &-slide {
            @include media-breakpoint-up(md) {
                display: flex !important;
            }
        }

        &-arrow {
            border: transparent;
            position: absolute;
            top: 100%;
            width: 45px;
            height: 32px;
            @include font-size(0);
            color: $white;
            margin: 0 .375rem;
            background: $dark-blue-200;

            @include media-breakpoint-up(lg) {
                margin: 0 .9375rem;
                width: 69px;
                height: 47px;
            }

            &:focus {
                outline: none;
            }
        }

        &-prev {
            right: 50%;

            &::before {
                content: "\e902";
                font-family: 'icomoon';
                font-size: 18px;

                @include media-breakpoint-up(lg) {
                    font-size: 24px;
                }
            }
        }

        &-next {
            left: 50%;

            &::before {
                content: "\e903";
                font-family: 'icomoon';
                font-size: 18px;

                @include media-breakpoint-up(lg) {
                    font-size: 24px;
                }
            }

        }

        &-disabled {
            background-color: rgba($dark-blue-200, .7);
        }

        &-center {
            .blockquote {
                transform: scale(1.05);
                box-shadow: 0px 8px 24px rgba($dark-blue-100, 0.16);

                &-head,
                &-content,
                &-footer {
                    transform: scale(1);
                }

                &-head {
                    left: -8px;
                }
            }
        }
    }
}