.testimonials {
    background-color: #f1f1f1;
    padding: 3rem 0;

    @media (min-width: 576px) {
        padding: 5rem 0;
    }

    @media (min-width: 768px) {
        padding: 7rem 0;
    }

    @media (min-width: 992px) {
        padding: 9rem 0;
    }

    @media (min-width: 1200px) {
        padding: 15rem 0;
    }

    .section-title {
        // margin-bottom: 3rem;

        @media (min-width: 768px) {
            margin-bottom: 5rem;
        }

        @media (min-width: 1200px) {
            margin-bottom: 7.5rem;
        }

        h2 {
            text-transform: capitalize;
        }
    }

    &-slider {
        @media (min-width: 992px) {
            max-width: 100rem;
            margin: 0 auto;
        }
    }
}