.card-deck {
    display: flex;

    &--choose {
        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            border: 0.0625rem solid rgba($navy, 0.1);
            border-radius: 0.625rem;
            padding: 1.25rem 0.9375rem 0;
            flex-basis: 100%;
            max-width: 100%;
            cursor: pointer;
            transition: 0.4s ease;

            @include media-breakpoint-up(sm) {
                padding: 2.5rem 0.9375rem 0.25rem;
                flex-basis: calc(50% - 0.9375rem);
                max-width: calc(50% - 0.9375rem);
                margin: 0 0.9375rem;
            }

            @include media-breakpoint-up(md) {
                flex-basis: 33.33%;
                max-width: 33.33%;

            }

            @include media-breakpoint-up(xxl) {
                padding: 4.6875rem 2.0625rem 3.4375rem;
            }

            @include media-breakpoint-down(md) {
                margin-bottom: 2rem;
            }

            &:hover {
                background-color: $navy;
                box-shadow: 0 0.1875rem 1rem rgba($gray-400, 0.13);

                .card-header span {
                    color: $lime;
                }

                .card-body {
                    color: $white;

                    h5 {
                        color: $white;
                    }
                }
            }

            &-header {
                span {
                    @include font-size(3rem);
                    text-align: center;
                    display: block;
                    transition: 0.4s ease;
                    margin-bottom: 0.9375rem;
                    color: $navy;

                    @include media-breakpoint-up(lg) {
                        margin-bottom: 1.875rem;
                    }

                    @include media-breakpoint-up(xxl) {
                        margin-bottom: 2.6875rem;
                    }
                }
            }

            &-body {
                font-weight: 600;
                letter-spacing: 0.03rem;
                text-align: center;
                transition: 0.4s ease;

                @include media-breakpoint-down(xl) {
                    line-height: 1.5;
                    @include font-size(0.9375rem);
                }

                @include media-breakpoint-down(md) {
                    @include font-size(0.8125rem);
                }

                h5 {
                    font-family: $font-oswald;
                    text-transform: uppercase;
                    color: $navy-dark;
                    line-height: 1.2;
                    letter-spacing: 0;
                    transition: 0.4s ease;
                    @include font-size(1.125rem);

                    @include media-breakpoint-up(lg) {
                        @include font-size(1.25rem);
                    }

                    @include media-breakpoint-up(xl) {
                        margin-bottom: 0.8125rem;
                    }

                    @include media-breakpoint-up(xxl) {
                        line-height: 1.36;
                        @include font-size(2.25rem);
                    }
                }
            }
        }
    }
}