<div class="container">
    <div class="single-blog">
    <article class="blog allblog row">
    <div class="blog-post-figure col-sm-6 col-12 sing-blog" style="display:none;">
        {{#if post.thumbnail}}
            <figure class="blog-thumbnail">
                <a href="{{post.url}}">
                    <img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage post.thumbnail 'blog_size'}}" alt="{{post.thumbnail.alt}}" title="{{post.thumbnail.alt}}">
                </a>
            </figure>
        {{/if}}
    </div>
    <div class="blog-post-body">
        <header class="blog-header">
            <h1 class="blog-title">
                {{post.title}}
            </h1>
            <p class="blog-date">{{#if post.author}}{{lang 'blog.posted_by' name=post.author}} on {{/if}}{{post.date_published}}</p>
        </header>

        <div class="blog-post">
            {{#if post.body}}
                {{{post.body}}}
            {{else}}
                <div class="allb-post">{{post.summary}}<span>&hellip;</span></div>
                {{#if post.show_read_more}}
                    <div class="bread"><a href="{{url}}" class="button button--primary">read more</a></div>
                {{/if}}
            {{/if}}
        </div>


        {{#if show_tags}}
            {{#if post.tags}}
                <ul class="tags">
                    {{#each post.tags}}
                    <li class="tag">
                        <a href="{{url}}">{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}
        {{>components/common/share}}
    </div> 
    </article>
</div>
</div>
