$orange: #f37630;
$blue: #144ca1;
$dark-blue: #052f6f;
$blue-1: #052f6f;
$blue-2: #3767af;
$white: #fff;
$white-1: #e8e8e8;
$black: #000;
$gray: #404040;
$gray-1: #c4c4c4;
$gray-2: #737373;
$gray-3: #f7f7f7;
$gray-4: #727272;
$gray-5: #c6c6c6;