{{inject 'noCompareMessage' (lang 'compare.no_compare')}} {{#if
theme_settings.homepage_featured_products_show}} {{{region
name="home_above_featured_products"}}}
<div class="featured-bg section-space feature-product-section">
  <div class="container">
    <div class="featured">
      <h2 class="page-heading">
        {{lang 'products.featured' }}
        <!-- <p>{{theme_settings.subheading-featured-product}}</p> -->
        <span class="head-line"></span>
      </h2>
      <div data-product-type="featured" class="">
        {{> components/products/featured-carousel products=products
        show_compare=products.show_compare theme_settings=theme_settings}}
      </div>
    </div>
  </div>
</div>
{{/if}}
