<!-- Affirm -->
<script>
 _affirm_config = {
   public_api_key:  "I59T2NU3LN0FID2J",
   script:          "https://cdn1.affirm.com/js/v2/affirm.js"
 };
 (function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
</script>
<!-- End Affirm -->
<style>
    .affirm-modal-trigger{text-decoration: underline !important;}
    .redtextcustom{color:#c00000; font-weight: 700;}
</style>
<div class="productView"
    {{#if settings.data_tag_enabled}}
    data-event-type="product"
    data-entity-id="{{product.id}}"
    data-name="{{product.title}}"
    data-product-category="
    {{#each product.category}}
        {{#if @last}}{{this}}{{else}}{{this}}, {{/if}}
    {{/each}}"
    data-product-brand="{{product.brand.name}}"
    data-product-price="
    {{#or customer (unless settings.hide_price_from_guests)}}
        {{#if product.price.with_tax}}
            {{product.price.with_tax.value}}
        {{else}}
            {{product.price.without_tax.value}}
        {{/if}}
    {{else}}
        {{lang 'common.login_for_pricing'}}
    {{/or}}"
    data-product-variant="single-product-option"{{/if}}>
   
    <div class="container">
        {{#each product.reviews.messages}}
        {{#if error}}
        {{> components/common/alert/alert-error error}}
        {{/if}}
        {{#if success}}
        {{> components/common/alert/alert-success success}}
        {{/if}}
        {{/each}}
        <div class="row">
            <section class="productView-images col-xl-5 col-md-5 col-12" data-image-gallery>
                <div class="productview-sticky"> 
                {{!--
                Note that these image sizes are coupled to image sizes used in /assets/js/theme/common/product-details.js
                for variant/rule image replacement
                --}}
                {{#if product.images.length '>' 1 }}
                {{> components/carousel-content-announcement}}
                {{/if}}
                <figure class="productView-image"
                    data-image-gallery-main
                    {{#if product.main_image}}
                    data-zoom-image="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size }}"
                    {{/if}}
                    >
                    <div class="productView-img-container">
                        {{!-- Remove the surrounding a-element if there is no main image. --}}
                        {{#if product.main_image}}
                        <a href="{{getImageSrcset product.main_image (cdn theme_settings.default_image_product) 1x=theme_settings.zoom_size}}"
                            target="_blank">
                            {{/if}}
                            {{> components/common/responsive-img
                            image=product.main_image
                            class="productView-image--default"
                            fallback_size=theme_settings.product_size
                            lazyload=theme_settings.lazyload_mode
                            default_image=theme_settings.default_image_product
                            otherAttributes="data-main-image"
                            }}
                            {{!-- Remove the surrounding a-element if there is no main image. --}}
                            {{#if product.main_image}}
                        </a>
                        {{/if}}
                    </div>
                </figure>
               
        <div id="addi-img" class="productView-thumbnails owl-carousel">
            {{#each product.images}}
            <ul>
                <li class="productView-thumbnail">
                    <a
                        class="productView-thumbnail-link"
                        href="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                        data-image-gallery-item
                        data-image-gallery-new-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.product_size}}"
                        data-image-gallery-new-image-srcset="{{getImageSrcset this use_default_sizes=true}}"
                        data-image-gallery-zoom-image-url="{{getImageSrcset this (cdn ../theme_settings.default_image_product) 1x=../theme_settings.zoom_size}}"
                    >
                    {{> components/common/responsive-img
                        image=this
                        fallback_size=../theme_settings.productview_thumb_size
                        lazyload=../theme_settings.lazyload_mode
                    }}
                    </a>
                </li>
                </ul>
            {{/each}}
        </div>
            </div>
            </section>
            <div class="col-xl-7 col-md-7 col-12">
                <div class="prorightw">
                    <section class="productView-details product-data">
                        <div class="productView-product">
                            <h1 class="productView-title">{{product.title}}</h1>
                            {{#if product.brand}}
                            <h2 class="productView-brand">
                                <a href="{{product.brand.url}}">{{product.brand.name}}</span>
                                </a>
                            </h2>
                            {{/if}}
                            <div class="productView-rating">
                                {{#if settings.show_product_rating}}
                                {{> components/products/ratings rating=product.rating}}
                                {{#if product.num_reviews '>' 0}}
                                <a href="#tab-reviews" id="productReview_link" class="productView-reviewLink rw-lnk">
                                    {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                                </a>
                                {{else}}
                                <span class="productView-reviewLink rw-lnk">{{lang 'products.reviews.link_to_review' total=product.num_reviews}}</span>
                                {{/if}}
                                {{/if}}
                                {{#if settings.show_product_reviews}}
                                <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                                    class="productView-reviewLink productView-reviewLink--new"
                                    {{#unless is_ajax}}data-reveal-id="modal-review-form"{{/unless}}
                                    role="button"
                                    >
                                    {{lang 'products.reviews.new'}}
                                </a>
                                {{#unless is_ajax}}
                                    {{#unless is_ajax}}
                                        {{> components/products/modals/writeReview}}
                                    {{/unless}}
                                {{/unless}}
                                {{/if}}
                            </div>
                            
                            {{#if product.call_for_price}}
                            <p class="productView-price">
                                <span>{{product.call_for_price}}</span>
                            </p>
                            {{/if}}
                            <div class="productView-price">
                                {{#or customer (unless settings.hide_price_from_guests)}}
                                {{> components/products/price price=product.price}}
                                {{else}}
                                {{> components/common/login-for-pricing}}
                                {{/or}}
                            </div>
                            
                            <!-- Affirm -->
                            <div class="AffirmPromo">
                                <p class="affirm-as-low-as" data-page-type="cart" data-amount="99999"></p>
                            </div>
                            <!-- Affirm -->
                            
                            <hr>
                            
                            <dl class="productView-info">
                                <dt class="productView-info-name sku-label"{{#unless product.sku}} style="display: none;"{{/unless}}>{{lang 'products.sku'}}</dt>
                                <dd class="productView-info-value" data-product-sku>{{product.sku}}</dd>
                                <dt class="productView-info-name upc-label"{{#unless product.upc}} style="display: none;"{{/unless}}>{{lang 'products.upc'}}</dt>
                                <dd class="productView-info-value" {{#unless product.upc}} style="display: none;"{{/unless}} data-product-upc>{{product.upc}}</dd>
                                {{#if product.condition}}
                                <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                                <dd class="productView-info-value">{{product.condition}}</dd>
                                {{/if}}
                                {{#if product.availability}}
                                <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                                <dd class="productView-info-value">{{product.availability}}</dd>
                                {{/if}}
                                {{#all product.weight theme_settings.show_product_weight}}
                                <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                                <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                                {{/all}}
                                {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                                <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                                <dd class="productView-info-value" data-product-width>
                                {{product.width}}
                                {{#if settings.measurements.length '==' 'Centimeters'}}
                                ({{lang 'products.measurement.metric'}})
                                {{else}}
                                ({{lang 'products.measurement.imperial'}})
                                {{/if}}
                                </dd>
                                <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                                <dd class="productView-info-value" data-product-height>
                                {{product.height}}
                                {{#if settings.measurements.length '==' 'Centimeters'}}
                                ({{lang 'products.measurement.metric'}})
                                {{else}}
                                ({{lang 'products.measurement.imperial'}})
                                {{/if}}
                                </dd>
                                <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                                <dd class="productView-info-value" data-product-depth>
                                {{product.depth}}
                                {{#if settings.measurements.length '==' 'Centimeters'}}
                                ({{lang 'products.measurement.metric'}})
                                {{else}}
                                ({{lang 'products.measurement.imperial'}})
                                {{/if}}
                                </dd>
                                {{/all}}
                                {{#if product.min_purchase_quantity}}
                                <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                                {{/if}}
                                {{#if product.max_purchase_quantity}}
                                <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                                {{/if}}
                                {{#if product.gift_wrapping_available}}
                                <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                                {{/if}}
                                {{#if product.shipping}}
                                {{#if product.shipping.calculated}}
                                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                                {{else}}
                                {{#if product.shipping.price.value '===' 0}}
                                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                                {{else}}
                                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                                <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                <dt class="productView-info-name">Estimated Delivery:</dt>
                                <dd class="productView-info-value redtextcustom">10 to 15 Business Days</dd>
                                {{{region name="product_below_shipping"}}}
                                {{#if settings.bulk_discount_enabled}}
                                <div class="productView-info-bulkPricing">
                                    {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                                </div>
                                {{/if}}
                                {{#if theme_settings.show_custom_fields_tabs '!==' true}}
                                    <!--{{> components/products/custom-fields }}-->
                                {{/if}}
                            </dl>
                            
                            {{{region name="product_below_price"}}}

                            <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
                                <label class="form-label form-label--alternate">
                                    {{lang 'products.current_stock'}}
                                    <span data-product-stock>{{product.stock_level}}</span>
                                </label>
                            </div>

                            <section class="productView-details" style="padding-top: 10px;">
                                <div class="productView-options">
                                    {{#if product.release_date }}
                                        <p class="preorder-statment">{{product.release_date}}</p>
                                    {{/if}}
                                    <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                                          data-cart-item-add>
                                        <input type="hidden" name="action" value="add">
                                        <input type="hidden" name="product_id" value="{{product.id}}"/>
                                        <div data-product-option-change style="display:none;" class="product-variant">
                                            {{#each product.options}}
                                                {{{dynamicComponent 'components/products/options'}}}
                                            {{/each}}
                                        </div>
                                        {{#if product.can_purchase}}
                                            {{> components/products/add-to-cart}}
                                        {{/if}}
                                        {{#if product.out_of_stock}}
                                            {{#if product.out_of_stock_message}}
                                                {{> components/common/alert/alert-error product.out_of_stock_message}}
                                            {{else}}
                                                {{> components/common/alert/alert-error (lang 'products.sold_out')}}
                                            {{/if}}
                                        {{/if}}
                                    </form>
                                    <div class="product-add-wishlist">
                                        {{#if settings.show_wishlist}}
                                        {{> components/common/wishlist-dropdown}}
                                        {{/if}}
                                    </div>
                                </div>
                            </section>
                            
                            {{product.detail_messages}}
                        </div>
                        
                        <div class="social-share-productpage">
                            {{> components/common/share url=product.url}}
                        </div>
                        
                    </section>
                </div>
                <div class="prorightwt">
                    
                </div>
            </div>
        </div>
        {{> components/products/tabs}}
        <article class="productView-description">
            {{#if theme_settings.show_product_details_tabs}}
            {{> components/products/description-tabs}}
            {{else}}
            {{> components/products/description}}
            {{/if}}
        </article>
    </div>
</div>
<script>
    $( document ).ready(function() {
        //Showing Features Tab
        var feautures_html = $("#new_features_tab").html();
        if(feautures_html !== undefined){
            //hiding features content from description tab
            $("#new_features_tab").css("display", "none");
            
            // showing features content in features tab
            $("#features_tab_id a").css("display", "block");
            $("#tab-features").html(feautures_html);
        }
        
        //Showing Dimensions & Specifications Tab
        var dimentions_html = $("#new_dimentions_tab").html();
        if(dimentions_html !== undefined){
            //hiding dimentions content from description tab
            $("#new_dimentions_tab").css("display", "none");
            
            // showing dimentions content in dimentions tab
            $("#dimentions_tab_id a").css("display", "block");
            $("#tab-dimentions").html(dimentions_html);
        }
        
        //Showing Shipping and Delivery Tab
        var shipping_html = $("#new_shipping_tab").html();
        if(shipping_html !== undefined){
            //hiding shipping content from description tab
            $("#new_shipping_tab").css("display", "none");
            
            // showing shipping content in shipping tab
            $("#shipping_tab_id a").css("display", "block");
            $("#tab-shipping").html(shipping_html);
        }
    });
</script>
