<span role="img"
    {{#if rating_target}}
      aria-label="{{lang 'products.reviews.rating_aria_label' rating_target=rating_target current_rating=rating max_rating=5}}"
    {{else}}
      aria-label="{{lang 'products.reviews.rating_aria_label' rating_target='Product' current_rating=rating max_rating=5}}"
    {{/if}}
>

    {{#for 1 5}}{{#if ../this.rating '>=' $index}}<span data-review="{{../this.rating}}" class="icon icon--ratingFull winter-review-count"><i class="fa fa-star"></i></span>{{else}}<span class="icon icon--ratingEmpty"><i class="fa fa-star-o"></i></span>{{/if}}{{/for}}{{{snippet 'product_rating'}}}
</span>

